

* {
    margin: 0;
    padding: 0;                     /* Reset default margin and padding */
    box-sizing: border-box;
  }
  
  body {
    background-color: #7019190c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;                                    /*  background and center */
    margin: 0;
  }
  
  
  .container {
    text-align: center;
    background-color: #ffffff9a;                       /* container style */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .heading {
    font-size: 24px;
    color: #333333;                    /* Style the heading */
    margin-bottom: 20px;
  }
  
  
  .button {
    padding: 10px 20px;
    background-color: #071b41;
    color: white;                        /* Style the button */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #3c6d7c;
  }
  